@charset "utf-8";
.logo {
	text-align: center;
}
.text {
	text-align: center;
}
body { /* Body Colour */
    background-color: #485058;
    color: #C4C4C4;
}

::selection {
  background: #FFAA36; /* Text Selector Colours */
}
::-moz-selection {
  background: #FFAA36; 
} 
.images {
	text-align: center;
	margin-bottom: 10px;
}
.break {
    height: 40px
}